$header-poster:"./img/header-poster.png";
$header-contentLogo:180px;
$height-menu: 100px;
$title-principal:3em;
$size-link:20px;
$color-principal:#fee58e;
$color-letras:#fee58e;
// $color-letras-objetivos:rgb(255, 255, 255);
$bcg-menuStiky:rgba(0, 0, 0, 0.158);
$bcg-body:#000;
$font-titlulo:"joseFinSanf-bold";
$font-letter:"joseFinSanf";
$font: "joseFinSanf";
$font-size: 16px;
:root{
  scroll-behavior: smooth;
}